.menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include ease-transition;

    &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        height: 3px;
        width: 28px;
        background: white;
        @include ease-transition;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background: white;
            @include ease-transition;
          }
      
          &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px;
            background: white;
            @include ease-transition;
          }
      
          &.open {
            transform: rotate(720deg);
            background: transparent;
      
            &::before {
              transform: rotate(45deg) translate(5px, 8px);
            }
      
            &::after {
              width: 28px;
              transform: rotate(-45deg) translate(3px, -7px);
            }
          }

    }
}

.menu-nav {
    list-style-type: none;
    

    &__item {
        display: inline-block;
    }
}